# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.idea/
.vscode/
*.code-workspace

# Logs
*.log

# Local env
.env
.env.*

# Local preview / cache
.cache/
dist/
build/

# Python static server
__pycache__/
*.pyc
